body{
    
    background : gradient(radial,center center , 0  ,center center , 460 , from (#1a82f7) , to (#2F2727));
    
    
    background: radial-gradient(circle , #1a82f7 ,  #2F2727);
}


.container{
    width: 600px;
    margin: 0 auto;
    margin-top :  100px;
    font-size: 3em;
}

.out{
    

    margin-bottom: inherit;
    width: 100%;
    text-align: center;
    color: #f63;
    font-size: 60px;


    
}

.myBtn{
    padding: 20px;
    font-size: 40px;
    margin-top: 50px;;
    
}

.pass{
    width: 350px;
    float: left;
    font-size: 30px;
    color: white;
    margin-left: 0;
    padding: 20px;
    background-color: #f63;
}

.in{
    padding: 9px;
    margin: 0;
    float: right;
    text-align: center;
    background-color: white;
    color: #f63;
}